<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width" name="viewport"/>
  <title>South East Asia Telecom Group</title>
  <meta name="keywords" content="Seatel, 东南亚电信">
  <meta name="description" content="东南亚电信...">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="shortcut icon" href="../image/seatel.ico" type="image/x-icon">
  <!--[if lte IE 9]>
  <link rel="stylesheet" href="../css/ie9.css"/>
  <![endif]-->
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="../css/ie8.css"/>
  <script src="../js/html5shiv.min.js"></script>
  <![endif]-->
</head>
<body>
  <!-- header -->
  {% include "partials/header.html" %}

  <!-- content -->
  {% block content %}
  {% endblock %}
ss
  <!-- footer -->
  {% include "partials/footer.html" %}
  <script src="../js/jquery-1.11.3.js"></script>
  <script src="../js/main.js"></script>
</body>
</html>